
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Acerca de...</h1>

  <br>

  <p>Esta es una aplicación web para aprender y practicar las vocales en español (y sirve por tanto a manera de actividad pre-lectura). El estudiante puede usar esta aplicación junto a un adulto: pueden idear oraciones, hablar de las letras y explorar el vocabulario.</p>

  <p><strong>Cómo usar esta aplicación</strong>: La página de inicio conduce a tres opciones principales. 
    <ol>
      <li>En la primera el estudiante puede hacer clic y escuchar las vocales.</li><br>
      <li>En la segunda, se muestran palabras que empiezan con la vocal correspondiente. Hacer clic sobre el símbolo de "check" va a servir otra palabra al azar con la misma vocal inicial.</li><br>
      <li>La sección de práctica muestra una imagen y sonido correspondiente. El estudiante debe hacer click en la vocal inicial; una vez escogida la opción correcta, se mostrará una palabra nueva.</li>
    </ol>
  </p>

  <p>Todas las imágenes y botones del sitio reproducen sonidos; recomiendo que los niños exploren la página y sean ellos quienes hacen clic. Algunas opciones de esta aplicación pueden no funcionar dependiendo del dispositivo y navegador. Por ejemplo, los iPhones no reproducen sonidos con <i>autoplay</i>.</p>

  <br>

  <p>Gonzalo Gallardo desarrolló esta aplicación con Ruby on Rails, pensando en sus sobrinos. <%= mail_to "gonzalo2000@hotmail.com", "Contactar" %>.</p>

  <br><br>

  <div class="text-center">
    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>

  <br><br>

  <%= link_to 'Admin', new_user_session_path, class: 'pull-right' %>
</div>
