
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Acerca de...</h1>

  <br>

  <p>Esta es una aplicación web para aprender y practicar las vocales en español (la unidad básica del alfabetismo).</p>

  <br>

  <p>El estudiante puede usar esta aplicación junto a un adulto a manera de juego. Pueden hablar de las palabras e idear oraciones, a la vez que hablan de las letras y de sus sonidos.</p>

  <br>

  <p>Gonzalo Gallardo desarrolló esta aplicación usando Ruby on Rails, pensando en sus sobrinos. <%= mail_to "gonzalo2000@hotmail.com", "Contactar" %>.</p>

  <br><br>

  <div class="text-center">
    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>

  <br><br>

  <%= link_to 'Admin', new_user_session_path, class: 'pull-right' %>
</div>
