<h1>Las vocales!</h1>

<%= audio_tag "a.mp3", class: "audio-play" %>
  <button type="button" class="btn btn-primary btn-lg audio-button">
  A  
  </button>

<%= audio_tag("a.mp3") %>
<br><br>
<%= link_to 'Home', root_path %>