<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="text-center">
    <span class="vowel-circle">U</span>

    <br><br><br>

    <mark><%= @random_u.term %></mark>

    <br><br><br>

    <%= link_to u_path do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>

    <br><br><br><br>

    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>
</div>