<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Editar Palabra</h1>

  <%= simple_form_for @word, url: word_path(@word), method: :patch do |f| %>
    <%= f.input :term %><br>
    <%= f.submit 'Crear', class: "btn btn-primary" %>
  <% end %>

  <br><br>

  <%= link_to "Volver al Ãndice", words_path %>
</div>
